{% extends "base.html" %}

{% block title %}Add Appointment{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Add New Appointment</h2>
    </div>

    <div class="card shadow p-4">

        <form method="POST">

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Appointment ID</label>
                    <input type="text"
                           class="form-control"
                           name="appointment_id"
                           placeholder="A001"
                           required>
                </div>

                <div class="col-md-6 mb-3">
                    <label>Patient</label>

                <select class="form-control" name="patient_name" required>

                   <option value="">Select Patient</option>

                   {% for patient in patients %}

                   <option value="{{ patient.name }}">
                      {{ patient.name }}
                 </option>

    {% endfor %}

</select> 

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Doctor</label>

                    <select class="form-control" name="doctor_name" required>

                    <option value="">Select Doctor</option>

                    {% for doctor in doctors %}

                    <option value="{{ doctor.name }}">
                        {{ doctor.name }}
                    </option>

                   {% endfor %}

                   </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Appointment Date</label>
                    <input type="date"
                           class="form-control"
                           name="appointment_date"
                           required>
                </div>

                <div class="col-md-3 mb-3">
                    <label>Appointment Time</label>
                    <input type="time"
                           class="form-control"
                           name="appointment_time"
                           required>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 mb-3">
                    <label>Status</label>

                    <select class="form-control"
                            name="status">

                        <option>Scheduled</option>
                        <option>Completed</option>
                        <option>Cancelled</option>

                    </select>

                </div>

            </div>

            <button class="btn btn-success">
                Save Appointment
            </button>

            <a href="{{ url_for('appointments') }}"
               class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}
