{% extends "base.html" %}

{% block title %}Edit Patient{% endblock %}

{% block content %}

<div class="container mt-4">

<h2>Edit Patient</h2>

<form method="POST">

<div class="mb-3">
<label>Patient ID</label>
<input type="text" class="form-control"
name="patient_id"
value="{{ patient.patient_id }}">
</div>

<div class="mb-3">
<label>Name</label>
<input type="text" class="form-control"
name="name"
value="{{ patient.name }}">
</div>

<div class="mb-3">
<label>Age</label>
<input type="number" class="form-control"
name="age"
value="{{ patient.age }}">
</div>

<div class="mb-3">
<label>Gender</label>
<input type="text" class="form-control"
name="gender"
value="{{ patient.gender }}">
</div>

<div class="mb-3">
<label>Phone</label>
<input type="text" class="form-control"
name="phone"
value="{{ patient.phone }}">
</div>

<div class="mb-3">
<label>Address</label>
<textarea class="form-control"
name="address">{{ patient.address }}</textarea>
</div>

<div class="mb-3">
<label>Blood Group</label>
<input type="text"
class="form-control"
name="blood_group"
value="{{ patient.blood_group }}">
</div>

<div class="mb-3">
<label>Disease</label>
<input type="text"
class="form-control"
name="disease"
value="{{ patient.disease }}">
</div>

<div class="mb-3">
<label>Doctor</label>
<input type="text"
class="form-control"
name="doctor"
value="{{ patient.doctor }}">
</div>

<div class="mb-3">
<label>Admission Date</label>
<input type="date"
class="form-control"
name="admission_date"
value="{{ patient.admission_date }}">
</div>

<div class="mb-3">
<label>Status</label>
<input type="text"
class="form-control"
name="status"
value="{{ patient.status }}">
</div>

<button class="btn btn-success">
Update Patient
</button>

<a href="{{ url_for('patients') }}"
class="btn btn-secondary">
Cancel
</a>

</form>

</div>

{% endblock %}